/* You can add global styles to this file, and also import other style files */

:root {
  /* Colors */
  --color-background: #f8fafc;
  --color-text: #1e293b;

  --color-border: #545d6b;

  --color-button: #ffffff;
  --color-button-text: var(--color-text);
  --color-button-hover: #eeeeee;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-background);
}

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 70vw;
  min-width: 20em;
  max-width: 40em;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0;
  aspect-ratio: 1;

  container-type: size;
}

.row {
  --border-solid: 3px solid var(--color-border);
  --border-dashed: 1px solid var(--color-border);

  display: contents;

  .cell {
    border: var(--border-dashed);
    border-top: none;
    border-left: none;

    &:first-child {
      border-left: var(--border-solid);
    }

    &:nth-child(3n) {
      border-right: var(--border-solid);
    }
  }

  &:first-child {
    .cell {
      border-top: var(--border-solid);
    }
  }

  &:nth-child(3n) {
    .cell {
      border-bottom: var(--border-solid);
    }
  }
}

.cell-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 6cqw;

  opacity: 0;

  transition: opacity 2s ease;

  &.has-value {
    opacity: 1;
  }

  &.locked {
    cursor: not-allowed;
  }
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;

  padding: 0.5rem 1rem;
  background-color: var(--color-button);
  border-radius: 4px;
  color: var(--color-button-text);
  box-shadow: var(--shadow-sm);

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-button-hover);
  }
}

.game {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 768px) {
  .board {
    width: 90vw;
  }

  .game {
    flex-direction: column;
  }
}
