/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
  /* Colors */
  --color-background: #f8fafc;
  --color-text: #1e293b;

  --color-border: #545d6b;

  --color-selected: #afd8e6;
  --color-valid: rgba(120, 255, 120, 0.35);
  --color-invalid: rgba(255, 120, 120, 0.35);
  --color-translucent: rgba(255, 255, 255, 0.75);
  --color-loading: #aaaaaa;

  --color-button: #ffffff;
  --color-button-text: var(--color-text);
  --color-button-active: #eeeeee;
  --color-button-disabled: #cecece;

  --color-code: #cccccc;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.35);

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--color-loading),
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-background);
}

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .difficulty-chooser {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    button {
      flex: 1;
    }
  }
}

.board {
  width: 70vw;
  min-width: 20em;
  max-width: 40em;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0;
  aspect-ratio: 1;

  container-type: size;

  background-color: transparent;
  transition: background-color 0.5s ease;

  &.valid {
    background-color: var(--color-valid);
  }

  &.invalid {
    background-color: var(--color-invalid);
  }
}

.row {
  --border-solid: 3px solid var(--color-border);
  --border-dashed: 1px solid var(--color-border);

  display: contents;

  .cell {
    border: var(--border-dashed);
    border-top: none;
    border-left: none;

    &:first-child {
      border-left: var(--border-solid);
    }

    &:nth-child(3n) {
      border-right: var(--border-solid);
    }
  }

  &:first-child {
    .cell {
      border-top: var(--border-solid);
    }
  }

  &:nth-child(3n) {
    .cell {
      border-bottom: var(--border-solid);
    }
  }
}

.cell-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 6cqw;

  cursor: pointer;

  &.selected {
    background: var(--color-selected);
  }

  &.locked {
    cursor: not-allowed;
  }

  &:not(.selected) span {
    opacity: 0;

    transition: opacity 2s ease;
  }

  &.has-value:not(.selected) span {
    opacity: 1;
  }
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;

  padding: 0.5rem 1rem;
  background-color: var(--color-button);
  border-radius: 4px;
  color: var(--color-button-text);
  box-shadow: var(--shadow-sm);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s ease;

  &:active {
    background-color: var(--color-button-active);
  }

  &.pushed {
    background-color: var(--color-button-active);
    box-shadow: inset var(--shadow-sm);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--color-button-disabled);
    color: color-mix(in srgb, var(--color-button-text) 50%, transparent 50%);
  }
}

code {
  background: var(--color-code);
  padding: 0.2em;
  border-radius: 0.2em;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.digit-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;

  .clear-button {
    grid-column: span 3;
  }
}

*:has(> .loading-overlay) {
  position: relative;
}

.loading-overlay {
  position: absolute;
  inset: 0;

  background: var(--color-translucent);

  cursor: wait;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 768px) {
  .board {
    width: 90vw;
  }

  .game {
    flex-direction: column;
  }
}
